<?xml version="1.0"?>

<launch>   
    <!-- Map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find utl_nav_2nd)/map/7fff.yaml"/>
    
    
    <!-- TF setting -->
    <include file="$(find utl_nav_2nd)/launch/utl_tf.launch" />
    
    
    <!-- Drivers -->
    <include file="$(find utl_nav_2nd)/launch/driver/lidar.launch" />
    <include file="$(find utl_nav_2nd)/launch/driver/cob_scan_unifier.launch" />
    <include file="$(find utl_nav_2nd)/launch/driver/uart.launch" />
    
    
    <!-- ODOMETRY -->
    <!-- Robot_Localization -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
        <rosparam command="load" file="$(find utl_nav_2nd)/param/utl_ekf_params.yaml" />
    </node>
    

    <!-- AMCL -->
    <arg name="init_x" default="0.0" />
    <arg name="init_y" default="0.0" />
    <arg name="init_a" default="0.0" />
    <include file="$(find utl_nav_2nd)/launch/utl_amcl.launch">
        <arg name="init_x" value="$(arg init_x)"/>
        <arg name="init_y" value="$(arg init_y)"/>
        <arg name="init_a" value="$(arg init_a)"/>
    </include>
    
    
    <!-- move_base -->
    <arg name="cmd_vel_topic" default="/cmd_vel" />
    <!--arg name="odom_topic" default="odometry/filtered" /-->
    <arg name="odom_topic" default="odom" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find utl_nav_2nd)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find utl_nav_2nd)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find utl_nav_2nd)/param/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find utl_nav_2nd)/param/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find utl_nav_2nd)/param/move_base_params.yaml" command="load" />
      <rosparam file="$(find utl_nav_2nd)/param/dwa_local_planner_params.yaml" command="load" />
      <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
      <remap from="odom" to="$(arg odom_topic)"/>
    </node>

    <!-- Rviz -->
    <arg name="use_rviz" default="true" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find utl_nav_2nd)/rviz_cfg/utl_amcl.rviz" if="$(arg use_rviz)" />
</launch>
